pkgbase = mdserve
	pkgdesc = Serve a directory of markdown files for easy viewing
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/FireSquid6/markdown-preview-server
	arch = x86_64
	license = MIT
	makedepends = git
	depends = bun
	provides = mdserve
	conflicts = mdserve-bin
	source = mdserve-1.0.0.tar.gz::https://github.com/FireSquid6/markdown-preview-server/archive/v1.0.0.tar.gz
	sha256sums = 174f48d9c0b0bef10002de00586cf02cd87cf719151cbd2226c1005d9fdde988

pkgname = mdserve
